<div
  class="flex w-screen flex-col items-center justify-center min-h-dvh"
>
  <form
    [formGroup]="calculatorForm"
    class="w-full max-w-3xl rounded-lg border p-6 shadow-sm bg-card"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-col p-6 space-y-1.5">
      <h3 class="text-2xl font-semibold leading-none tracking-tight">
        Calculadora de interés compuesto
      </h3>
      <p class="text-sm text-muted-foreground">
        Calcula el valor futuro de tu inversión.
      </p>
    </div>
    <div class="p-6 space-y-8">
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        <div class="space-y-2">
          <label class="text-sm font-medium" for="principal"
          >Capital inicial</label
          >
          <div class="relative">
            <input
              formControlName="principal"
              type="number"
              inputmode="numeric"
              pattern="[0-9]*"
              class="flex h-10 w-full rounded-md border px-3 py-2 text-sm bg-background"
              id="principal"
              placeholder="Ingresa tu capital inicial"
              min="0"
              (focus)="principalIsFocus = true"
              (blur)="principalIsFocus = false"
              [class.text-transparent]="!principalIsFocus"
            />
            <div
              (click)="focusInput('principal')"
              *ngIf="
                calculatorForm.get('principal')?.value && !principalIsFocus
              "
              class="absolute text-sm top-[10px] left-[12px]"
            >
              {{ calculatorForm.get("principal")?.value | parseNumber }}
            </div>
          </div>
        </div>
        <div class="space-y-2">
          <label class="text-sm font-medium" for="annualAddition"
          >Adición anual</label
          >
          <div class="relative">
            <input
              formControlName="annualAddition"
              type="number"
              inputmode="numeric"
              pattern="[0-9]*"
              class="flex h-10 w-full rounded-md border px-3 py-2 text-sm bg-background"
              id="annualAddition"
              placeholder="Ingresa tu adición anual"
              min="0"
              (focus)="annualAdditionIsFocus = true"
              (blur)="annualAdditionIsFocus = false"
              [class.text-transparent]="!annualAdditionIsFocus"
            />
            <div
              (click)="focusInput('annualAddition')"
              *ngIf="
                calculatorForm.get('annualAddition')?.value &&
                !annualAdditionIsFocus
              "
              class="absolute text-sm top-[10px] left-[12px]"
            >
              {{ calculatorForm.get("annualAddition")?.value | parseNumber }}
            </div>
          </div>
        </div>
        <div class="space-y-2">
          <label class="text-sm font-medium" for="years">Número de años</label>
          <input
            formControlName="yearsToGrow"
            type="number"
            inputmode="numeric"
            pattern="[0-9]*"
            class="flex h-10 w-full rounded-md border px-3 py-2 text-sm bg-background"
            id="years"
            placeholder="Ingresa el número de años"
            min="1"
          />
        </div>
        <div class="space-y-2">
          <label class="text-sm font-medium" for="interestRate"
          >Tasa de interés anual (%)</label
          >
          <div class="relative">
            <input
              formControlName="interestRate"
              type="number"
              inputmode="numeric"
              pattern="[0-9]*"
              class="flex h-10 w-full rounded-md border px-3 py-2 text-sm bg-background"
              id="interestRate"
              placeholder="Ingresa tu tasa de interés anual"
              min="0"
            />
            <div
              (click)="focusInput('interestRate')"
              *ngIf="calculatorForm.get('interestRate')?.value"
              class="absolute text-sm text-transparent top-[10px] left-[12px]"
            >
              {{
                calculatorForm.get("interestRate")?.value
              }}<span class="text-black">%</span>
            </div>
          </div>
        </div>
        <div class="space-y-2">
          <label class="text-sm font-medium" for="frequency"
          >Frecuencia de capitalización</label
          >
          <select
            formControlName="compoundTimes"
            class="flex h-10 w-full rounded-md border px-3 py-2 text-sm bg-background"
            id="frequency"
          >
            <option
              *ngFor="let option of frequencyOptions"
              [value]="option.value"
            >
              {{ option.label }}
            </option>
          </select>
        </div>
      </div>
      <div class="flex items-center space-x-4">
        <button
          class="inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md bg-black px-4 py-2 text-sm font-medium text-white hover:bg-black/90"
          type="submit"
        >
          Calcular
        </button>
        <button
          class="inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md border px-4 py-2 text-sm font-medium bg-background hover:bg-accent hover:text-accent-foreground"
          type="button"
          (click)="resetValues()"
        >
          Reiniciar
        </button>
      </div>
      <div class="w-full border-t border-gray-200 py-8 dark:border-gray-800">
        <div class="flex justify-between items-center flex-wrap">
          <div class="text-xl font-medium whitespace-nowrap overflow-ellipsis break-all">
            Valor futuro
          </div>
          <div class="text-2xl font-bold break-all">
            ${{ futuredValue | parseNumber }}
          </div>
        </div>
      </div>
    </div>
    <p class="text-center text-gray-500">Created by {{ user }}</p>
  </form>
</div>
